body {
  background-color: #f5f5f5;
  margin-top: 40px;
}

.App-header {
  background-color: #b9c2cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

.Sign-in-Google-logo, .Sign-in-Twitter-logo {
  height: 4vmin;
  pointer-events: none;
  display: inline;
  margin-right: 10px;
}

.Sign-in-text {
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Sign-in-button {
  background-color: #e0e0e0;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins';
  font-weight: 500;

  display: flex;
  align-items: center;
}

.Sign-in-button:hover {
  background-color: #bebebe;
}

.Login-page {
  margin: 24px;
}
